{
  "arrowParens": "always",
  "bracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn"]
}
